
html, body, section {
  height: 100vh;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

section {
  display: flex;  
}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

h1 {
  color: #FFFFFF;
  font-size: 3.7rem;
  font-weight: 800;
  letter-spacing: 0.05em;
  margin: 9rem 0rem 2rem 0rem;
}

img {
  height: 4%;
  width: 15%;
}

input {
  height: 1.75rem;
  width: 90%;
  font-size: 1.5rem;
  font-weight: 100;
  letter-spacing: 0.2rem;
  margin-bottom: 2.5rem;
  color: grey;
}

.enter {
  background-color: #FFC107;
  color: #FFFFFF;
  height: 45px;
  width: 90%;
  font-size: 1.5em;
}

.left {
  flex: 1;
  background-color: #455A64;
}

/*.layout {
  justify-content: center;
  align-items: center;
}*/

.right {
  flex: 1;
  background-color: #CFD8DC; 
  justify-content: flex-start;
  align-items: center;
}

#bookmark {
  height: 9.5rem;
  width: 33rem;
  margin: 2rem 0 1rem 1rem;
  padding: 0;
  /*text-align: left;*/
  border: solid 1px #607D8B;
}

h2 {
  margin: 0.8rem;
  color: #455A64;
  font-size: 1.5rem;
  text-align: left;
}

hr {
  width: 96%;
  height: 0.1em;
  color: #CFD8DC;
}


h3 {
  text-align: left;
  color: #607D8B;
  margin: 0.8rem;

}

#read-button, 
#delete-button {
  border: none;
  background: none;
  color: #455A64;
  /*margin-bottom: 0;*/

} 

  /*margin: 0 2% 5% 0;
}
