
html, body, section {
  height: 100vh;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

section {
  display: flex;  
}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 0 2rem 0 1rem;
}

h1 {
  color: #FFFFFF;
  font-size: 3.9rem;
  font-weight: 800;
  letter-spacing: 0.05em;
  margin: 9rem 0rem 2rem 0rem;
}

img {
  height: 4%;
  width: 15%;
}

input {
  height: 2rem;
  width: 90%;
  font-size: 1.7rem;
  font-weight: 100;
  letter-spacing: 0.2rem;
  margin-bottom: 2.5rem;
  color: grey;
}

.enter-button {
  background-color: #FFC107;
  color: #FFFFFF;
  height: 2.5rem;
  width: 90%;
  font-size: 1.5em;
}

.enter-button:hover {
  background-color: #FFD773;
}

.left {
  flex: 1 300px;
  background-color: #455A64;
  align-items: center;
  text-align: center;
  min-width: 0;

}

.right {
  flex: 1 300px;
  background-color: #CFD8DC; 
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  overflow: scroll;
}


/*--BOOKMARK STYLING*/
ul {
  background-color: #FFFFFF;
  height: 8.9rem;
  width: 38rem;
  margin: 0.8rem 0 0.8rem 1rem;
  padding: 0 1rem 1rem 1rem;
  text-align: left;
  border: solid 2px #607D8B;
}

h2 {
  margin: 0.8rem;
  color: #455A64;
  font-size: 1.8rem;
  font-weight: 800;
  overflow: hidden;
}
}

hr {
  width: 96%;
  height: 0.1em;
  color: #CFD8DC;
}


a {
  color: #607D8B;
  margin: 0.8rem;
  text-decoration: underline;
  text-decoration-color: #f2f4f4;
  font-size: 1.6rem;
}

a:hover{
  text-decoration-color: #FFC107;
  font-weight: 800;
}

#read-button, 
#delete-button {
  border: none;
  background: none;
  text-decoration: underline;
  text-decoration-color: #f2f4f4;
  font-size: 1rem;
  color: #455A64;
  font-weight: 100;
} 

#delete-button {
  float: right;
}

#read-button:hover{
  font-weight: 800;
  text-decoration-color: #FFC107;
}

#delete-button:hover{
    text-decoration-color: #FFC107;
}

.readButtonClicked {
  color: #f05a28;
  font-weight: 800;
  background-color: #f2f4f4;
  text-decoration: underline;
  text-decoration-color: #f2f4f4;
}


.ulClicked {
  background-color: #F2F4F4;
}

@media screen and (max-width: 1190px) {
    .container {
      flex-direction: column;
    } 

    .left {
      padding: 2rem;
    }
    .right {
      background-color: #CFD8DC;
    }
    input, enter-button {
      height: 12%;
    }

    h1 {
      margin-top: 0.2rem;
    }  

    ul {
      width: 90%;
    }

}

@media screen and (max-width: 550px) {
     h1 {
      font-size: 3.5rem;
      margin-top: 0rem;
    }
}

@media screen and (max-width: 495px) {
     h1 {
      font-size: 2.6rem;
      margin-top: 0rem;
    }
}

   
    
}

     
  

